---
import Layout from '../layouts/Layout.astro';

const error = Astro.url.searchParams.get('error');
console.log(error);
---

<script>
	const roomId = document.getElementById('roomId') as HTMLInputElement;
	const joinLink = document.querySelector('#roomId + a') as HTMLAnchorElement;
	roomId.addEventListener('blur', () => {
		joinLink.href = `/room/${roomId.value}`;
	});
</script>

<Layout title="Pokemon Crystal Item Tracker">
	<main class="grid p-20 items-center justify-items-center gap-4">
		<h1 class="text-center text-3xl my-6">
			Pokemon Crystal Key Item Rando Tracker
		</h1>
		<a class="bg-sky-300 p-2 w-max text-2xl" href="/room/new">New Room</a>
		<input
			class="bg-white p-2 text-lg text-center mt-8"
			type="text"
			name="roomId"
			id="roomId"
			placeholder="Room Code"
			maxlength="4"
			value={error}
		/>
		<a class="bg-sky-300 p-2 w-max text-2xl" href="">Join Room</a>
		{error ? <p class="text-red-500">Room {error} does not exist</p> : null}
	</main>
</Layout>
